<div class="container">
<!--  {{authService.jwtPayload | json}}-->
  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login()">
    <div class="ui-g centered">
      <div class="ui-g-12">
        <h1>Login</h1>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <input pInputText type="text"
               name="username" placeholder="E-mail"
               [(ngModel)]="username" required/>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <input pInputText type="password"
               name="password" placeholder="Senha"
               [(ngModel)]="password" required/>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid" style="margin: 0;">
        <button pButton
                type="submit"
                label="Login"
                style="background-color: #1e94d2;"
                [disabled]="loginForm.invalid"></button>
      </div>
    </div>
  </form>
</div>
