<div class="container">
  {{userForm.valid}}
  <br/>
  {{userForm.invalid}}

  <div *ngIf="userForm.invalid && userForm.dirty">
    <p-message severity="error" text="Preencha todos os campos corretamente."></p-message>
  </div>
  <form #userForm="ngForm" (ngSubmit)="save(userForm)">
    <div class="ui-g">
      <div class="ui-g-12">
        <label>Nome </label>
        <input type="text" name="name" pInputText [(ngModel)]="client.name"
               required minlength="5" autocomplete="off" #name="ngModel">
        <br>
        Touched: {{name.touched}}<br> <!--Campo ja foi tocado pelo usuario-->
        Pristine: {{name.pristine}}<br> <!--Algo que esta em seu estado original-->
        Dirty: {{name.dirty}}<br> <!--Algo que foi modificado-->

        <div *ngIf="name.hasError('required') && name.touched">Informe um nome</div>
        <div *ngIf="name.hasError('minlength') && name.touched">O nome deve ser completo</div>
      </div>
      <div class="ui-g-12">
        <label>E-mail </label>
        <input type="email" name="email" pInputText [(ngModel)]="client.email" #email="ngModel" required="" email>
        <div *ngIf="email.invalid && email.touched">Informe um e-mail válido</div>
      </div>
      <div class="ui-g-12">
        <label>Profissão </label>
        <select name="profession" [(ngModel)]="client.profession" #profession="ngModel" required>
          <option value="">Selecione</option>
          <option *ngFor="let profession of professions"
                  [value]="profession">{{profession}}</option>
        </select>
        <div *ngIf="profession.invalid && profession.touched">Informe uma profissão</div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" [disabled]="!userForm.valid" label="Salvar"></button>
      </div>
    </div>
  </form>
</div>
