<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <label>Nome </label>
      <input pInputText type="text" #name/>
    </div>
    <div class="ui-g-12">
      <button pButton
              type="button"
              label="Adicionar"
              (click)="add(name.value); name.value=''"></button>
    </div>

    <p-table [value]="cities" [rows]="2" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let header of headers">
            {{header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-city>
        <tr>
          <td>{{city.id}}</td>
          <td>
            <div class="ui-g-12">
              <input pInputText type="text" [(ngModel)]="city.name"/>
              <button pButton (click)="update(city)" label="Atualizar"></button>
            </div>
          </td>
          <td class="col-actions">
            <button pButton class="trash-button"
                    pTooltip="Excluir"
                    tooltipPosition="top"
                    style="margin:5px"><i
              class="pi pi-trash"
            (click)="delete(city.id)"></i></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
