<div class="container">
  <form autocomplete="off" (ngSubmit)="save()" [formGroup]="form">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ isEdit ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="types" name="type" formControlName="type"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento </label>
        <p-calendar dateFormat="dd/mm/yy"
                    [inline]="false"
                    [readonlyInput]="false"
                    [showIcon]="true"
                    appLocale
                    name="dueDate"
                    formControlName="dueDate"
        ></p-calendar>
        <app-message
          [control]="form.get('dueDate')"
          error="required"
          text="Informe uma data de vencimento">
        </app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{form.get('type').value === 'RECIPE' ? 'Recebimento' : 'Pagamento'}} </label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="payday" formControlName="payday"
                    appLocale></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text"
               name="description"
               formControlName="description"/>
        <app-message
          [control]="form.get('description')"
          error="required"
          text="Descrição é um campo obrigatório">
        </app-message>
        <app-message
          [control]="form.get('description')"
          error="minlength"
          text="Informe um descrição de no mínimo {{form.get('description').errors?.minlength?.length}} caracteres">
        </app-message>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor </label>
        <input currencyMask
               [options]="{prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false}"
               pInputText type="text"
               placeholder="R$0,00"
               name="value"
               formControlName="value"/>
        <app-message
          [control]="form.get('value')"
          error="required"
          text="Informe um valor">
        </app-message>
      </div>
      <div class="ui-g-6 ui-md-6 ui-fluid" formGroupName="category">
        <label>Categoria </label>
        <p-dropdown
          [options]="categories"
          [placeholder]="'Selecione'"
          formControlName="id"></p-dropdown>
        <app-message
          [control]="form.get('category')"
          error="required"
          text="Informe uma categoria">
        </app-message>
      </div>
      <div class="ui-g-6 ui-md-6 ui-fluid" formGroupName="person">
        <label>Pessoa </label>
        <p-dropdown [options]="persons"
                    [placeholder]="'Selecione'"
                    [filter]="true"
                    formControlName="id">
        </p-dropdown>
        <app-message
          [control]="form.get('person')"
          error="required"
          text="Informe uma pessoa">
        </app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação </label>
        <textarea pInputTextarea rows="3" name="observation" formControlName="observation"></textarea>
      </div>
      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid" *ngIf="!form.get('attachment').value">
        <p-fileUpload name="attachment" mode="basic" auto="true" maxFileSize="10485760"
                      chooseLabel="Anexar" accept="image/*,application/*"
                      [url]="urlUploadAttachment"
                      (onBeforeUpload)="beforeUploadAttachment($event)"
                      (onUpload)="finishUpload($event)"
                      #attachment
                      (onSelect)="validateFileSize($event, attachment.maxFileSize)"
                      (onError)="errorUpload($event)"
                      [hidden]="uploadStarted">
        </p-fileUpload>
        <p-progressSpinner [style]="{width: '25px', height: '25px'}" [hidden]="!uploadStarted"></p-progressSpinner>
      </div>

      <div class="ui-g-12 ui-fluid" *ngIf="form.get('attachment').value" dir="rtl">
        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
           [href]="form.get('urlAttachment').value">{{ attachmentName}}</a>
      </div>

      <div class="ui-g-12">
        <button pButton
                type="submit"
                label="Salvar"
                style="margin:5px"
                [disabled]="form.invalid || uploadStarted"></button>
        <button pButton type="button" label="Novo" (click)="new()" class="ui-button-info"></button>
        <a style="margin:10px" routerLink="/launchs" href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
  {{form.value | json}}
</div>
