<div class="container">
  <form #personForm="ngForm" autocomplete="off" (ngSubmit)="save(personForm)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ isEdit ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText
               type="text"
               name="name"
               [(ngModel)]="person.name" #name="ngModel"
               required
               minlength="5"/>
        <app-message [control]="name"
                     text="Informe o nome"
                     error="required"
        ></app-message>
        <app-message [control]="name"
                     text="Informe o nome de no mínimo {{name.errors?.minlength?.requiredLength}} caracteres"
                     error="minlength"
        ></app-message>
      </div>

      <div class="ui-g-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText
               type="text"
               name="street"
               [(ngModel)]="person.address.street" #street="ngModel"
               required/>
        <app-message [control]="street"
                     text="Informe o logradouro"
                     error="required"
        ></app-message>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Número</label>
        <input pInputText name="number" [(ngModel)]="person.address.number" type="text"/>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText name="complement" [(ngModel)]="person.address.complement" type="text"/>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText
               type="text"
               name="neighborhood"
               [(ngModel)]="person.address.neighborhood" #neighborhood="ngModel"
               required/>
        <app-message [control]="neighborhood"
                     text="Informe o bairro"
                     error="required"
        ></app-message>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask
          mask="99999-999"
          placeholder="99999-999"
          name="zipCode" [(ngModel)]="person.address.zipCode" #zipCode="ngModel"
          required
        ></p-inputMask>
        <app-message [control]="zipCode"
                     text="Informe o CEP"
                     error="required"
        ></app-message>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text"
               name="city" [(ngModel)]="person.address.city" #city="ngModel"
               required/>
        <app-message [control]="city"
                     text="Informe a cidade"
                     error="required"
        ></app-message>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Estado</label>
        <input pInputText type="text"
               name="state" [(ngModel)]="person.address.state" #state="ngModel"
               required/>
        <app-message [control]="state"
                     text="Informe o estado"
                     error="required"
        ></app-message>
      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <div class="ui-g">
            <div class="ui-g-12">
              <button pButton label="Novo" icon="pi pi-user-plus"
                      type="button"
                      (click)="buildNewContact()"
                      class="ui-button-secondary">
              </button>
            </div>
            <div class="ui-g-12">
              <p-table [value]="person.contacts" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-actions">Ações</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contact>
                  <tr>
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.phone}}</td>
                    <td class="col-actions">
                      <a pButton class="edit-button" pTooltip="Editar"
                         tooltipPosition="top" style="margin:5px">
                        <i class="pi pi-pencil"></i></a>
                      <button pButton class="trash-button"
                              pTooltip="Excluir"
                              tooltipPosition="top"
                              style="margin:5px">
                        <i class="pi pi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [colSpan]="4">Nenhum contato cadastrado!</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button pButton
                type="submit"
                label="Salvar"
                class="ui-button-"
                style="margin:5px"
                [disabled]="personForm.invalid"
        ></button>
        <button pButton type="button" label="Novo" (click)="new(personForm)" class="ui-button-info"></button>
        <a style="margin:10px" routerLink="/persons">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>

<p-dialog header="Novo Contato"
          [(visible)]="showContactForm"
          modal="modal" *ngIf="showContactForm">
  <form #formContact="ngForm" (ngSubmit)="addContact(formContact)">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" name="name"
             required [(ngModel)]="contact.name"
             #contactName="ngModel"/>
      <app-message [control]="contactName" error="required" text="Informe o nome"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>E-mail</label>
      <input pInputText type="text" name="email"
             required email [(ngModel)]="contact.email"
             #contactEmail="ngModel"/>
      <app-message [control]="contactEmail" error="required" text="Informe o e-mail"></app-message>
      <app-message [control]="contactEmail" error="email" text="Informe um e-mail válido"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Telefone</label>
      <p-inputMask name="phone" [(ngModel)]="contact.phone"
                   mask="(99) 99999-999?9" required
                   #contactPhone="ngModel">
      </p-inputMask>
      <app-message [control]="contactPhone" error="required" text="Informe o telefone"></app-message>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Confirmar" [disabled]="formContact.invalid"></button>
    </div>
  </form>
</p-dialog>
