<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px">

<p>Olá</p>

<p>Existem receitas ou despesas vencidas ou vencendo hoje. Veja:</p>

<p>
<table style="width: 100%; border-collapse: collapse; margin: 20px 0">
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Valor</th>
    </tr>
    </thead>

    <tbody>
    <tr style="border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc;"
        th:each="launch: ${launchs}"
        th:styleappend="${launch.recipe} ? 'color: blue;' : 'color: red;'">
        <td th:text="${launch.type.description}"></td>
        <td th:text="${launch.person.name}"></td>
        <td th:text="${launch.description}"></td>
        <td th:text="${#temporals.format(launch.dueDate, 'dd/MM/yyyy')}" style="text-align: center"></td>
        <td th:text="${#numbers.formatDecimal(launch.value, 0, 'POINT', 2, 'COMMA')}" style="text-align: right"></td>
    </tr>
    </tbody>
</table>
</p>

<p>Obrigado.</p>
<p>Equipe Lançamentos.</p>

</body>
</html>