<div class="container">

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="search()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição </label>
        <input type="text" pInputText name="description" [(ngModel)]="filter.description">
      </div>

      <div class="ui-g-12">
        <label style="display: block;">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                    name="dueDayStart" [(ngModel)]="filter.dueDayStart"></p-calendar>

        <label> até </label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                    name="dueDayEnd" [(ngModel)]="filter.dueDayEnd"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="launchs" [responsive]="true"
               [paginator]="true" [rows]="filter.pageSize"
               [lazy]="true" [totalRecords]="totalElements"
               (onLazyLoad)="changePage($event)" #table>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let header of headers">
            {{header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-launch>
        <tr>
          <td>{{launch.person}}</td>
          <td>{{launch.description}}</td>
          <td class="col-date">{{launch.dueDate | date: 'dd/MM/yyyy'}}</td>
          <td class="col-date"> {{launch.payday | date: 'dd/MM/yyyy'}}</td>
          <td class="col-value"
              [style.color]="launch.type === 'EXPENSE' ? 'red' : 'blue'">{{launch.value | currency:'BRL'}}</td>
          <td class="col-actions">
            <a pButton class="edit-button" pTooltip="Editar" tooltipPosition="top" style="margin:5px"><i
              class="pi pi-pencil"></i></a>
            <button pButton class="trash-button"
                    pTooltip="Excluir"
                    tooltipPosition="top"
                    (click)="deleteConfirm(launch)"
                    style="margin:5px"><i
              class="pi pi-trash"></i></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [colSpan]="6">Nenhum lançamento foi encontrado!</td>
        </tr>
      </ng-template>
      </p-table>

      <div class="ui-g-12">
        <a pButton routerLink="/launchs/new" label="Novo Lançamento" class="launch-button"></a>
      </div>

    </div>
  </div>
</div>
